@model IEnumerable<GeorgianComputers.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please Choose a Product</h1>

<ul>
    @*<li>
            <a asp-controller="StoreController1" asp-action="Details" asp-route-product="Product 1">Product 1</a>
        </li>
        <li>
            <a asp-controller="StoreController1" asp-action="Details" asp-route-product="Product 2">Product 2</a>
        </li>
        <li>
            <a asp-controller="StoreController1" asp-action="Details" asp-route-product="Product 3">Product 3</a>
        </li>
        <li>
            <a asp-controller="StoreController1" asp-action="Details" asp-route-product="Product 4">Product 4</a>
        </li>
        <li>
            <a asp-controller="StoreController1" asp-action="Details"asp-route-product="Product 5">Product 5</a>
        </li>*@
    @foreach (var product in Model)
    {
        <li> 
            <a asp-controller ="StoreController1" asp-action = "Details" asp-route-product="@product.Name">@product.Name</a>
        </li>
    }
</ul>